{% comment %}
  This section is used in the 404 template to render page shown when customers
  enter an invalid store URL.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/404
{% endcomment %}

{% comment %} <h1>{{ '404.title' | t }}</h1>

<p>
  {{ '404.not_found' | t }}
</p>

<a href="{{ routes.all_products_collection_url }}">
  {{ '404.back_to_shopping' | t }}
</a>

{% schema %}
{
  "name": "t:general.404",
  "settings": []
}
{% endschema %} {% endcomment %}

<div class="flex flex-col gap-4 max-w-md">
  <h1 class="text-5xl font-bold my-4">{{ section.settings.title }}</h1>
  <p class="text-base md:text-xl leading-normal">{{ section.settings.description }}</p>
  {% if section.settings.button_url == blank %}
    {% assign shop_url = shop.secure_url %}
  {% else %}
    {% assign shop_url = section.settings.button_url %}
  {% endif %}
  <a href="{{ shop_url }}" class="inline text-white text-base font-medium shadow bg-green-600 hover:bg-green-800 px-4 py-2">{{ section.settings.button_text }}</a>
</div>

{% schema %}
{
  "name": "Template 404",
  "tag": "section",
  "class": "flex flex-col items-center justify-center text-center w-screen h-screen",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "404"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "The page you were looking for could not be found."
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Back to Home"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL",
    }
  ]
}
{% endschema %}
